body{
    margin:0;
    position: absolute;
    display: flex;
    background-image:url("bgpage5.jpeg");
}




.content{
    height:1600px;
    width:1000px;
    background-color: rgba(12, 39, 108, 0.763);
    border-radius: 15px;
    border-color:white;
    border-width: 2px;
    border-style: solid;
    position: relative;
    left:175px;
    top:25px;
}


.right{
    left:300px;
}
.left{
    left:50px;
}
.content{
    text-align: center;
}
.main{
    position: relative;
    color:red;
    top:30px;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.context{
    position: relative;
    height:300px;
    width:600px;
    background-color: aliceblue;
    border-radius: 15px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    top:60px;
    left:25px;
    overflow: scroll;
    
}
.image{
    position: relative;
    width:300px;
    top:-245px;
    left:312.5px;
    height:300px;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
.info{
    text-align: center;
    color:black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.f{
    font-size: 20px;

}
.b{
    text-align: left;
}
.a{
    text-align: left;
}
.header{
    position: relative;
    font-size: 30px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    color:black;
}
.s{
    color:darkgoldenrod;
    top:-230px;
}
.Symptoms{
    position: relative;
    height: 300px;
    width:950px;
    background-color:aliceblue;
    border-radius: 15px;
    border-color:rgb(251, 248, 248);
    border-width: 2px;
    border-style: solid;
    left:25px;
    top:-200px;
    overflow: scroll;
}
.r{
    color:rgb(143, 162, 220);
    top:-180px;
}
.Remedies{
    position: relative;
    height: 600px;
    width:950px;
    background-color:aliceblue;
    border-radius: 15px;
    border-color:white;
    border-width: 2px;
    border-style: solid;
    left:25px;
    top:-170px;
    overflow: scroll;
}

/* ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;  
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } */
.sy{
    text-align: left;
}
.lite{
    color: red;
}
.navbar {
    width: auto;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.logo{
    width: 250px;
    cursor: pointer;
    height: 60px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(12, 12, 12);
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ff5d06;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

@media only screen and (max-width:700px){
    navbar ul{
      width: 100%;
      background: #fff;
      position: absolute;
      top: 75px;
      right: 0;
      z-index: 2;
    }
  
    navbar ul li{
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    navbar ul li a{
      color: #fff;
    }
  
    .menu-icon{
      display: block;
    }
  }