*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

.banner {
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0, 0, 0, 0.75)),url(https://www.sreenidhi.edu.in/events_images/GraduationCeremony/gc6.jpg);
    background-size: cover;
    background-position: center;
}

.menu-icon{
  width: 25px;
  text-align: right;
  display: none;

}

#hamburger-icon{
  margin: auto 0;
  display: none;
  cursor: pointer;

}

#hamburger-icon div{
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1{
  -webkit-trnasform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2{
  opacity: 0;
}

.open .bar3{
  -webkit-trnasform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu{
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li{
  margin-bottom: 10px;
}

@media only screen and (max-width:600px){

  navbar{
    display: none;
  }

  #hamburger-icon{
    display: block;
  }

}




.navbar {
    width: auto;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.logo{
    width: 250px;
    cursor: pointer;
    height: 60px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(12, 12, 12);
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ff5d06;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 25%;
    transform: translate(-0%);
    text-align: center;
    color: #fff;
}
.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ff5d06;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background:#ff5d06;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}



/* .card-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

.card-inner{
    position: relative;
  overflow: hidden;
}

.card-inner > img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.card-inner > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-inner > img,
.card-inner > .content {
  transition: 200ms ease-in-out;
}

.card-inner:hover > img.blur {
  filter: blur(5px);
}

.card-inner:hover > img.gray {
  filter: grayscale(1);
}

.card-inner:hover > img.zoom {
  transform: scale(1.1);
}

.card-inner > .content.fade {
  opacity: 0;
}
.card-inner:hover > .content.fade {
  opacity: 1;
}

.card-inner > .content.slide-left {
  transform: translateX(-100%);
}
.card-inner:hover > .content.slide-left {
  transform: translateX(0);
}

.card-inner > .content.slide-right {
  transform: translateX(100%);
}
.card-inner:hover > .content.slide-right {
  transform: translateX(0);
}

.card-inner > .content.slide-down {
  transform: translateY(-100%);
}
.card-inner:hover > .content.slide-down {
  transform: translateY(0);
}

.card-inner > .content.slide-up {
  transform: translateY(100%);
}
.card-inner:hover > .content.slide-up {
  transform: translateY(0);
} */

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
   font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }
  
  .hero-section{
    align-items: flex-start;
    /* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;

  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
    top: 29%;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

  .section{
    width: 100vw;
    height: 100vh;
  }

  /* footer// */

  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: open sans; */
  transition: ease 0.5s;
  text-decoration: none;
  color: white;
  list-style-type: none;
}

body {
  background: #5b5b5c;
}

footer {
  background: #5b5b5c;
  width: 100%;
  max-width: 100%;
  /* height: 70vh; */
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 0px;
  /* box-shadow: #434444 0 10px 20px 5px; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.main {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.heading {
  margin-bottom: 15px;
}
.col1 {
  flex: 1;
  min-width: 200px;
}
.col2 {
  flex: 2;
  min-width: 300px;
}
.col3 {
  flex: 1;
  min-width: 200px;
}

.col1 a {
  display: inline-block;
  padding: 7px 0;
  font-size: 14px;
}
.col1 a:hover {
  color: #58bed5;
}

.col2 .languages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}
.col2 a {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
}
.col2 a:hover {
  background: #58bed5;
}

.social {
  display: flex;
  gap: 20px;
}
.col3 ion-icon {
  font-size: 30px;
}
.social a:hover ion-icon {
  color: #5ac1d8;
}

.terms {
  display: flex;
  gap: 20px;
  font-size: 12px;
}
.terms a {
  color: #7783a0;
}
