*{
    margin: 0px;
    padding: 0px;
    background: url("http://wallpapers.net/spot-light-background-hd-wallpaper");
    
}
   body{
    font-family: cursive;
    background-image: url("https://images.unsplash.com/photo-1596367407372-96cb88503db6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80");
    background-size: cover;   
}
   .main{
   
    margin: 2%;
   }
   
   .card{
        width: 20%;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 25px; 
        margin: 2%;
       }
   
   .image img{
     width: 100%;
     border-top-right-radius: 3px;
     border-top-left-radius: 3px;
     border-radius: 25px;
   
    
    }
   
   .title{
    
     text-align: center;
     padding: 10px;
     
    }
   
   h1{
     font-size: 50px;
     
    }
   
   .des{
     padding: 3px;
     text-align: center;
    
     padding-top: 10px;
           border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }
   button{
     margin-top: 20px;
     margin-bottom: 10px;
     background-color: rgb(143, 155, 193);
     border: 1px solid black;
     border-radius: 25px;
     padding:10px;
     border-style: groove;
   }
   button:hover{
     background-color: black;
     color: white;
     transition: .5s;
     cursor: pointer;
   }
   h1{
    text-align: center;
   }
   .image{
    width: 15;
   }