*{
  padding: 0;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  border: none;
}
body{
  background-image: url("photo5.jpg");
  width: 100%;
  height: 100vh;
  background-size: 100% 110vh;
  position: relative;
  background-repeat: no-repeat;
  
}


.navbar {
  width: auto;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.logo{
  width: 250px;
  cursor: pointer;
  height: 60px;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: rgb(12, 12, 12);
  text-transform: uppercase;
  font-size: 14px;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0%;
  background: #ff5d06;
  position:absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}


header{
  position: absolute;
  text-align: center;
  width: 75%;
  left: 12%;
  top: 2rem;
}
header h1{
  font-size: 30px;
}
.empty{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
}

.content{
  display: flex;
  min-height: 110vh;
}
.content section{
  margin-top: 8vh;
  margin-left: 20vh;
}
.content-form{
  margin-top: 7rem;
}
section i{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(255,255,255,0.8);
  color: black;
  text-align: center;
}
.form{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 50%;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
}

.form .contact-form input{
  width: 30rem;
  background-color: transparent;
  border: 0px;
  border: transparent;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  border-bottom: 2px solid #fff;
}
.form .contact-form input ~ span{
  position: absolute;
  left: 20px;
  transition: 0.9s ease-in-out;
  margin-top: 10px;
}
.form .contact-form input:focus ~span{
  transform: translateY(-20px);
  pointer-events: none;
}
.form .contact-form textarea{
  width: 30rem;
  border: 0px;
  background-color: transparent;
  margin: 20px;
  font-size: 17px;
  border-bottom: 2px solid white;
}
.form .contact-form textarea ~ span
{
  position: absolute;
  left: 20px;
  margin-top: 10px;
  transition: 0.9s ease-in-out;
}
.form .contact-form textarea:focus ~span{
  transform: translateY(-20px);
  pointer-events: none;
}


.contact-form .enter{
  position:relative;

  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  font-size: 30px;
  width:200px;
  height: 40px;
  left:830px;
  margin-top: -5px;
  top:-710px;
  color: black;

  }
  .contact-form .enter:hover{
      background-color: transparent;
  color: dodgerblue;
}
.media{
  position: absolute;
  top: 85vh;
  right: 20vh;
  display: flex;
  list-style: none;
}
.media li{
  margin: 20px 30px;
  
}


@media screen and (max-width: 900px){
  body{
      background-repeat: repeat-y;
      overflow: auto;
  }
  header{
      position: absolute;
      left: 0;
      top: 20%;
      width: 100%;
  }
  .empty{
      height: 210vh;
  }
  .form{
      position: absolute;
      top: 100vh;
      margin-left: 10%;
  }
  .content-form{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0;
      margin-top: 53vh;
      margin-left: 10vh;
      transition: 0.3s ease-in-out;
  }
  .content section{
      margin-top: 0vh;
      margin-left: 0vh;
      
  }
  .media{
      position: absolute;
      top: 190vh;
      right: 30px;
     
  }
}


 /* footer// */

  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: open sans; */
  transition: ease 0.5s;
  text-decoration: none;
  color: white;
  list-style-type: none;
}

body {
  background: #5b5b5c;
}

footer {
  background: #5b5b5c;
  width: 100%;
  max-width: 100%;
  /* height: 70vh; */
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 0px;
  /* box-shadow: #434444 0 10px 20px 5px; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.main {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.heading {
  margin-bottom: 15px;
}
.col1 {
  flex: 1;
  min-width: 200px;
}
.col2 {
  flex: 2;
  min-width: 300px;
}
.col3 {
  flex: 1;
  min-width: 200px;
}

.col1 a {
  display: inline-block;
  padding: 7px 0;
  font-size: 14px;
}
.col1 a:hover {
  color: #58bed5;
}

.col2 .languages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}
.col2 a {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
}
.col2 a:hover {
  background: #58bed5;
}

.social {
  display: flex;
  gap: 20px;
}
.col3 ion-icon {
  font-size: 30px;
}
.social a:hover ion-icon {
  color: #5ac1d8;
}

.terms {
  display: flex;
  gap: 20px;
  font-size: 12px;
}
.terms a {
  color: #7783a0;
}
