body{
    background-color: rgb(253, 254, 255);
}
/* h1{
    font-size:2.1rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    text-align: center;
    color: aliceblue;
    margin-top: 50px;
} */
.maindv{
    width: 60%;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
    background-image: url("https://scontent.fbep2-1.fna.fbcdn.net/v/t39.30808-6/303588718_5566510156747273_4811089755524621830_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0debeb&_nc_ohc=BmxLQ1Y0E0IAX-XgOc5&_nc_ht=scontent.fbep2-1.fna&oh=00_AT8yuTVk8kJrd_3xTMGSn8DtBm3wdCYNo0xNLnQ-aXupmA&oe=631FDA60");
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px white;
    animation: slider 20s infinite linear;

}
@keyframes slider{
    0%{background-image: url("https://scontent.fbep2-1.fna.fbcdn.net/v/t39.30808-6/303588718_5566510156747273_4811089755524621830_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0debeb&_nc_ohc=BmxLQ1Y0E0IAX-XgOc5&_nc_ht=scontent.fbep2-1.fna&oh=00_AT8yuTVk8kJrd_3xTMGSn8DtBm3wdCYNo0xNLnQ-aXupmA&oe=631FDA60");}
    35%{background-image: url("https://scontent.fbep2-1.fna.fbcdn.net/v/t39.30808-6/302879357_5566509933413962_8060913940157510353_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_ohc=MRkFwRAqgIMAX8Fx4EQ&_nc_ht=scontent.fbep2-1.fna&oh=00_AT-B_u4y50uaD12QGpMuasZyl1SJDR5068cfHZJFAZ__sQ&oe=631E6083");}
    75%{background-image: url("https://scontent.fbep2-1.fna.fbcdn.net/v/t39.30808-6/303588718_5566510156747273_4811089755524621830_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0debeb&_nc_ohc=BmxLQ1Y0E0IAX-XgOc5&_nc_ht=scontent.fbep2-1.fna&oh=00_AT8yuTVk8kJrd_3xTMGSn8DtBm3wdCYNo0xNLnQ-aXupmA&oe=631FDA60");}


}

.logo{
    height: 70px;
    width: 20%;
    padding: 10px 10px;
}

/* .img{
    padding: 20px;
} */

.navbar{
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    box-shadow: 1px 2px 10px white;
    font-family: 'Nunito', sans-serif;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 40px 20px;
}
.navbar li a{
    padding: 1px 1px;
    text-decoration: none;
    color: rgb(139, 141, 141);
}
.navbar li a:hover{
    color: rgb(221, 106, 77)
}

.card{
    width: 10%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 20px;
    margin: 2%;
}

.des{
    padding: 3px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


/* .search{
    float: right;
    color: white;
    padding: 12px 75px;
} */
/* .navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 130px;
} */

/* #showcase{
    background-image: url("https://www.pexels.com/photo/person-pointing-paper-line-graph-590041/");
    height: 100vh;
    background-position: center;
    background-size: cover;
} */

/* .container{
    width: 100%;
    height: 50vh;
    padding-top: 0vh;
    background-image:linear-gradient(#050505c3,#050505c3);
    text-align: center;
    
} */

/* .img{
    background-image: linear-gradient(#000000c3,#000000c3);
} */

 /* contact us page number 8 */

 